#boxContainer{
        /* background-color: #ccc;
        border: 2px solid red; */
        display: grid;
        // grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: repeat(5, 1fr);
        gap: 5px;
        .box{
          width: 100%;
          height: 40px;
          border: 1px solid black;
          background-color: black;
        }
      }
      @import url(https://fonts.googleapis.com/css?family=Orbitron);



#timer{
  width:200px;
  margin:auto;
  font-size:200%;
  font-family:Orbitron;
  color:black;
  display:block;
}

#controls{
  width:200px;
  margin:auto;
  display:block;
}

.timer-btn{
  color:white;
  padding:25px;
  font-family:Helvetica;
  border-radius:9px;
  cursor:pointer;
  display:inline-block;
  margin:auto;
}

#start{
  background-color:green;
}

#stop{
  background-color:red;
}
    
      